<tr>
  <td><%=link_to lease.device.mac, "/leases/#{lease.id}"%></td>
  <td>
    <div class='dropdown'>
      <a id='L<%=lease.id%>' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <% if lease.device.list.name.match('Unassigned') %>
          <% list_color = 'text-primary' %>
        <% elsif lease.device.list.name.match('Whitelist') %>
          <% list_color = 'text-success' %>
        <% elsif lease.device.list.name.match('Blacklist') %>
          <% list_color = 'text-danger' %>
        <% else list_color = 'text-warning' %>
        <% end %>
        <span class="glyphicon <%= lease.device.list.glyph.name %> <%= list_color %>" aria-hidden="true"></span>
      </a>
      <ul class="dropdown-menu">
        <% List.all.each do |l| %>
          <% if l.name.match('Unassigned') then list_color = 'text-primary'  %>
          <% elsif l.name.match('Whitelist') then list_color = 'text-success'  %>
          <% elsif l.name.match('Blacklist') then list_color = 'text-danger'  %>
          <% else  list_color = 'text-warning'  %>
          <% end %>
        <li><%= link_to(device_path(lease.device, params: { list: l }), method: :put) do %>
              <span class="glyphicon <%= l.glyph.name %> <%= list_color %>" aria-hidden="true"></span>  <%= l.name %>
            <% end %>
        </li>
        <% end %>
      </ul>
    </div>
      <% if lease.device.fingerprint == nil %>
        <% fp = 'flaticon-fingerprint-with-question-mark' %>
      <% elsif lease.device.fingerprint == 0 %>
        <% fp = 'flaticon-fingerprint26' %>
      <% elsif lease.device.fingerprint == 1 %>
        <% fp = 'flaticon-fingerprint21' %>
      <% else fp = 'flaticon-fingerprint-with-question-mark' %>
      <% end %>
    <span id='F<%=lease.id%>' class="fingerprint <%= fp %>"></span>
  </td>
  <td><%=lease.name%></td>
  <td><%=lease.ip%></td>
  <td><%=lease.expiration%></td>
  <td><%=lease.device.vendor%></td>
</tr>