<% provide(:title, "Remote Rogue Device Detector") %>
<% provide(:description, 'Home') %>
<div class="col-md-12">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <table class="table table-striped">
    <thead><tr>
      <th>DHCP-MAC</th>
      <th>Status</th>
      <th><%= sort_link(@search, :name, "DHCP-HOST") %></th>
      <th>IP</th>
      <th><%= sort_link(@search, :expiration, "Lease") %></th>
      <th>Vendor</th>
    </tr></thead>
    <%= render @leases %>
  </table>
  <%= will_paginate @leases %>
</div>
