  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class='container'>
      <% if yield(:title).match('Layer') %>
        <%= link_to yield(:title), '/l2s2', id: "logo" %>
      <% else %>
        <%= link_to yield(:title), '/r2d2', id: "logo" %>
      <% end %>
      <div class="container">
        <nav>
          <p class="navbar-text">Viewing: <%= yield(:description) %></p>
          <% if yield(:description).match('Home') %>
            <div class='navbar-form navbar-left'>
              <button type='button' class="btn btn-link" data-toggle="modal" data-target="#filter">
                <span class="glyphicon glyphicon-filter"></span>
              </button>
            </div>
          <% end %>
          <ul class="nav navbar-form navbar-right">
            <li class="dropdown">
              <button type='button' class="btn btn-link" id="setupdropdownMenu" data-toggle="dropdown">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="setupdropdownMenu">
                <li><%= link_to "Fingerprints", fingerprints_path %></li>
                <li><%= link_to "Lists", lists_path %></li>
                <li><%= link_to "Servers", servers_path %></li>
                <li><%= link_to 'l2s2', l2s2_path %></li>
                <li><%= link_to 'MAC', prefs_path %></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if yield(:title).match('Layer') %>
              <li><%= link_to 'r2d2', '/r2d2' %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </header>