<div class='row'>
  <h2>Device <%= device.mac %></h2>
  <div class='col-md-4'>
    <% @device = device %>
    <% if device.list.name.match('Unassigned') %>
      <% list_color = 'text-primary' %>
    <% elsif device.list.name.match('Whitelist') %>
      <% list_color = 'text-success' %>
    <% elsif device.list.name.match('Blacklist') %>
      <% list_color = 'text-danger' %>
    <% else list_color = 'text-warning' %>
    <% end %>
    List: <span class="glyphicon <%= device.list.glyph.name %> <%= list_color %>" aria-hidden="true"></span> 
    <%= @device.list.name %><br>
    Vendor: <%= @device.vendor %>
  </div>
  <div class='col-md-8'>
    <%= form_for @device do |f| %>
      <%= f.text_area(:notes, class: "form-control", placeholder: "Enter Notes Here") %>
      <%= submit_tag('Update Notes', class: "btn btn-default pull-right") %>
    <% end %>
  </div>
</div>